<div class="login-body" fxLayout="column" fxLayoutAlign="start center">
    <img class="logo" src="assets/icons/large_logo.png">
    
    <div id="login-form">
        <form name="loginForm" [formGroup]="loginForm"  fxLayout="column" fxLayoutAlign="center center" (ngSubmit)="onSubmit(loginForm)">
            <mat-form-field >   <!-- appearance="legacy" -->
                <mat-label>Email</mat-label>
                <input matInput placeholder="some@email.com" formControlName="username" type="text">
            </mat-form-field>

            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password">
            </mat-form-field>

            <div class="buttons">
                <button mat-flat-button color="primary" type="submit">LOGIN</button>  <!-- add uppercase -->
                <button mat-flat-button routerLink="/lost-password">Reset Password</button>
                <button mat-stroked-button color="accent" routerLink="/connect-wallet">CONNECT WALLET</button>
                <mat-divider></mat-divider>
                <button mat-flat-button (click)="navigateSlideMenu(signUpTrx)">Dont you have an account yet?</button>
                <button mat-flat-button (click)="navigateSlideMenu(signUpTrx)" color="accent">REGISTER</button>
            </div>
        </form>
    </div>

</div>