@use "sass:map";
@use "@angular/material" as mat;

$mat-blue: (
  50: #dadada,
  100: #3c71ce,
  200: #3c71ce,
  300: #3c71ce,
  400: #3c71ce,
  500: #3c71ce,
  600: #3c71ce,
  700: #3c71ce,
  800: #3c71ce,
  900: #3c71ce,
  A100: #3c71ce,
  A200: #3c71ce,
  A400: #3c71ce,
  A700: #3c71ce,
  contrast: (
    50: black,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$mat-yellow: (
  50: #e3f2fd,
  100: #ffc250,
  200: #ffc250,
  300: #ffc250,
  400: #ffc250,
  500: #ffc250,
  600: #ffc250,
  700: #ffc250,
  800: #ffc250,
  900: #ffc250,
  A100: #ffc250,
  A200: #ffc250,
  A400: #ffc250,
  A700: #ffc250,
  contrast: (
    50: black,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$mat-pink: (
  50: #e3f2fd,
  100: #fc3c6a,
  200: #fc3c6a,
  300: #fc3c6a,
  400: #fc3c6a,
  500: #fc3c6a,
  600: #fc3c6a,
  700: #fc3c6a,
  800: #fc3c6a,
  900: #fc3c6a,
  A100: #fc3c6a,
  A200: #fc3c6a,
  A400: #fc3c6a,
  A700: #fc3c6a,
  contrast: (
    50: black,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);