@use '@angular/material' as mat;

$heading-font-family: "'Work Sans', sans-serif";

$head-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em);

$app-typography: mat.define-typography-config(
  $headline-1: $head-1,
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(
    $font-family: Roboto,
    $font-size: 100px,
    $font-weight: 400,
    $line-height: 1,
    $letter-spacing: normal,
  )

);