<div class="menu-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div class="menu-header" fxLayout="column" fxLayoutAlign="start center" >
        <div class="menu-nav" fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-icon-button (click)="closeMenu()" >
                <mat-icon style="color: black;">close</mat-icon>
            </button>
    
            <img src="assets/icons/small_logo.png" style="object-fit: cover; height: 25px; padding-right: 20px;">
        </div>
        <mat-divider style="width: 100%; margin-top: 10px; margin-bottom: 10px;"></mat-divider>
    </div>
    <router-outlet name="menu"></router-outlet>
    <app-loader></app-loader>
</div>
