.front-wrapper {
    width: 100%;

    .head-wrapper {
        padding-top: 75px;
        padding-left: 30px;
        padding-right: 30px;

        width: calc(100% - 60px);

        background: linear-gradient(rgb(48, 48, 48), rgb(255, 255, 255));

        .head {
            width: 100%;
            padding-bottom: 20px;
    
            .btn-nav {
                width: 100%;
                padding: 30px;
    
                button {
                    height: 40px !important;
                
                    border-radius: 15px;
                    font-size: 16px;
                    color: white;
                    background-color: rgba(0, 0, 0, 0);
                }
            }
        }
    }

    mat-tab-group {
        width: calc(100% - 60px);
        padding-left: 30px;
        padding-right: 30px;

        .grid-container {
            width: 100%;
            min-width: 500px;

            max-height: 300px;  // for 3 x 2 , 500 for top 10

            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

            .grid-btn-container {
                width: 50%;
                height: 100px;

                .grid-btn {
                    height: 100%;
                    width: 100%;

                    .btn-space {
                        width: 100% !important;
                        padding-left: 7.5%;
                        padding-right: 7.5%;

                        .space {
                            width: 10%;
                        }
                    }
                }
            }
        }

    }

    .list {
        width: 100%;
        background-image: rgb(255, 255, 255);

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: 10px 10px;
    }
}

.mdc-button .mdc-button__label {
    position: relative;
    width: 100% !important;
}
