<div class="front-wrapper" fxLayout="column" fxLayoutAlign="start center">
    <div class="head-wrapper">
        <div class="head" fxLayout="column" fxLayoutAlign="start center">
            <div class="btn-nav" fxLayout="row" fxLayoutAlign="start center">
                <button mat-flat-button (click)="changeCategory(PromotedNFTs.all)">All</button>
                <button mat-flat-button (click)="changeCategory(PromotedNFTs.art)">Art</button>
                <button mat-flat-button (click)="changeCategory(PromotedNFTs.gaming)">Gaming</button>
                <button mat-flat-button (click)="changeCategory(PromotedNFTs.photo)">Photo</button>
            </div>
    
            <app-promoted *ngIf="isExtend" style="width: 100%;" [category]="category"></app-promoted>
        </div>
    </div>

    <app-top-list style="width: 100%;"></app-top-list>
<!--     <div *ngIf="nftLists" class="list" fxLayout="column" fxLayoutAlign="start center">
        <div fxLayout="row wrap" fxLayoutGap="10px grid" *ngFor="let _category of data_set.data">
            <div fxFlex.xl="20%" fxFlex.lg="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let item of _category | keyvalue">
                <app-card [data]="item.value"></app-card>
            </div>
        </div>
    </div> -->

    <!-- <div *ngIf="nftLists" class="list" fxLayout="column" fxLayoutAlign="start center">
        <div style="width: 100%;" *ngFor="let _category of nftLists.data">
            <div style="width: 100%;" fxLayout="row wrap" fxLayoutGap="10px grid" *ngFor="let item of _category | keyvalue">

                <div style="width: 100%;" fxFlex.xl="20%" fxFlex.lg="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let nft of item.value! | keyvalue">
                    <app-card style="width: 100%;" [data]="nft.value[0]"></app-card>
                </div>
            </div>
        </div>
    </div> -->
    <div *ngIf="data_set" style="width: 100%;">
        <div class="list" *ngFor="let category of data_set.data">
            <app-card-list [category]="category" style="width: 100%;"></app-card-list>
        </div>
    </div>
</div>