.wallet-wrapper {
    height: 100%;
    width: 100%;

    .wallets {
        width: 100%;

        .accounts {
            width: 100%;
        }
    }

    form {
        width: 100%;

        .input {
            width: 45%;
        }

        .select {
            width: 45%;
        }
    }
}

button {
    width: 100%;
    height: 40px !important;

    margin-top: 6px;

    border-radius: 15px;
}

.mat-expansion-panel-header-description {
    justify-content: end !important;
    align-items: center !important;
    margin-right: 0px !important;
}
