<div class="step-body" fxLayout="column" fxLayoutAlign="center center">
    <div id="signup-form">
        <form name="registerForm2" [formGroup]="registerForm2" (ngSubmit)="onSubmit(registerForm2)" fxLayout="column" fxLayoutAlign="center center">
            <mat-form-field class="input" >
                <mat-label i18n>First Name</mat-label>
                <mat-error *ngIf="registerForm2.get('username')?.hasError('required')" i18n>Please enter your First name.</mat-error>
                <!-- <mat-error *ngIf="registerForm1.get('username')?.hasError('email')" i18n>Please check your e-mail.</mat-error> -->
                <!-- <mat-error *ngIf="registerForm1.get('username')?.errors?.serverError">
                    {{ registerForm1.get('username').errors?.serverError }}
                </mat-error> -->
                <input matInput type="text" formControlName="firstname">
            </mat-form-field>

            <span></span>

            <mat-form-field class="input" >
                <mat-label i18n>Surname</mat-label>
                <input matInput formControlName="surname"> <!-- [type]="hidePassword ? 'password' : 'text'" -->
                <!-- <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon> -->
                <mat-error *ngIf="registerForm2.get('password')?.hasError('required')" i18n>Please enter your Surname.</mat-error>
                <mat-error *ngIf="registerForm2.get('password')?.hasError('minlength')" i18n>Your password is too short.</mat-error>
                <!-- <mat-error *ngIf="registerForm1.get('password')?.hasError('pattern')">
                    {{registerForm1.get('password').errors.pattern.msg}}
                </mat-error> -->
                <!-- <mat-error *ngIf="registerForm1.get('password')?.errors?.serverError">
                    {{ registerForm1.get('password').errors?.serverError }}
                </mat-error> -->
            </mat-form-field>

            <span></span>

            <div class="options" fxLayout="row" fxLayoutAlign="space-between center">
                <mat-form-field class="select" >
                    <mat-label i18n>Wallet Currency</mat-label>
                    <mat-select formControlName="currency">
                        <mat-option *ngFor="let cur of currency" [value]="cur.value">{{cur.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="select" >
                    <mat-label i18n>Account Currency</mat-label>
                    <mat-select formControlName="chain">
                        <mat-option *ngFor="let chain of chains" [value]="chain.value">{{chain.viewValue}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="checkbox" fxLayout="column" fxLayoutAlign="start start">
                <mat-checkbox formControlName="acceptTerms">18+ T&C</mat-checkbox>
                <mat-checkbox formControlName="emailSpam">information by e-mail</mat-checkbox>
            </div>

            <div class="buttons">
                <button mat-flat-button color="primary" type="submit">SUMBIT</button>
            </div>

        </form>
    </div>
</div>
